{% load static %}
<html>
    <head>
        <title>Patient Monitoring System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lte IE 8]>
            <script src="{% static 'GraphController/js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
                <div class="container"><a class="navbar-brand" href="#">Patient Monitoring System</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Devices</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="height: 100px;"></div>
        </header>
        <section class="container">

            <div class="card shadow-sm" style="border-radius: 15px 15px 15px 15px; width: 30rem; padding: 10px 10px 10px 10px">
{#                     <button type="button" class="btn btn-secondary" data-toggle="popover" title="Popover title">IP: {{ ip }}</button>#}
                <h5>IP : {{ device.IP_ADDRESS }}</h5>
                <h5>Device Name : {{ device.DEVICE_NAME }}</h5>
                <h5>Location : {{ device.LOCATION }}</h5>

            </div>
            <div style="height: 50px;"></div>
            <div class="row md-6">
                <div class="col-lg-6 col-md-12">
                    <div class="card shadow-sm">
                    <div class="chart-container" style="height:400px; width:600px;">
                        <canvas id="heart_rate" width="80" height="50"></canvas>
                        <!-- <button class="btn btn-primary">Test</button> -->
                    </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                     <div class="card shadow-sm">
                     <div class="chart-container" style="height:400px; width:600px;">
                            <canvas id="blood_pressure" width="80" height="50"></canvas>
                     </div>
                     </div>
                </div>
            </div>
            <br>
             <div class="row md-6">
                <div class="col-lg-6 col-md-12">
                    <div class="card shadow-sm">
                    <div class="chart-container" style="height:400px; width:600px;">
                        <canvas id="temperature" width="80" height="50"></canvas>
                        <!-- <button class="btn btn-primary">Test</button> -->
                    </div>
                    </div>
                </div>
                 <div class="col-lg-6 col-md-12">
                    <div class="card shadow-sm">
                    <div class="chart-container" style="height:400px; width:600px;">
                        <canvas id="humidity" width="80" height="50"></canvas>
                        <!-- <button class="btn btn-primary">Test</button> -->
                    </div>
                    </div>
                </div>


            </div>
            <div class="row md-6">

            </div>
        </section>
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            var c;
            $.get('/heart_data/{{ device.IP_ADDRESS }}', function(data) {
                var ctx = $("#heart_rate").get(0).getContext("2d");
                 c = new Chart(ctx, {
                    type: 'line',
                     data: data['heart_rate'],
                     options: {
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                min: 0,
                                max: 100
                                }
                            }]
                        }
                    }
                });
                c.update(0)
            });
            $.get('/blood_data/{{ device.IP_ADDRESS }}', function(data) {
                var ctx = $("#blood_pressure").get(0).getContext("2d");
                 c = new Chart(ctx, {
                    type: 'line',
                     data: data['blood_pressure'],
                     options: {
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                min: 0,
                                max: 100
                                }
                            }]
                        }
                    }
                });
                c.update(0)
            });
            $.get('/temp_data/{{ device.IP_ADDRESS }}', function(data) {
                var ctx = $("#temperature").get(0).getContext("2d");
                 c = new Chart(ctx, {
                    type: 'line',
                     data: data['temperature'],
                     options: {
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                min: 0,
                                max: 100
                                }
                            }]
                        }
                    }
                });
                c.update(0)
            });
            $.get('/humidity_data/{{ device.IP_ADDRESS }}', function(data) {
                var ctx = $("#humidity").get(0).getContext("2d");
                 c = new Chart(ctx, {
                    type: 'line',
                     data: data['humidity'],
                     options: {
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                min: 0,
                                max: 100
                                }
                            }]
                        }
                    }
                });
                c.update(0)
            });
            window.setTimeout(function () {
{#               function reloadMyChart() {#}
{#                    $('heart_rate').replaceWith('<canvas id="heart_rate"></canvas>');#}
{#                    new Chart(document.getElementById("heart_rate"), {#}
{#                        data: data,#}
{#                        type: "line",#}
{#    });#}
{#                reloadMyChart();#}
            window.location.reload();
            }, 20000);
        </script>
    </body>
</html>